---
layout: default.liquid
---

<div class="row">
    <div class="col-md-8">
        {% include header %}
        {{ content }}
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <p class="card-header">Frequently-asked Questions</p>
            <p class="card-body">Your qusetion may already be answered. Please visit our <a href="{{ '/faq/' | url }}">Frequently-asked Questions Page</a> for answers.</p>
        </div>
        <div class="card mb-3">
            <p class="card-header">Service Area</p>
            <div class="card-body">
                <p>Franco American Mowing serves towns in Northern Virginia, including:</p>
                <ul>
                    <li>Fairfax</li>
                    <li>Chantilly</li>
                    <li>Alexandria</li>
                    <li>Arlington</li>
                    <li>Manassas</li>
                </ul>
            </div>
        </div>
    </div>
</div>
